.cartWrapper {
  display: flex;
  flex-direction: column;

  .cartItems {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .total {
    font-size: 16px;
    font-weight: 500;
    margin: 52px 0 40px 0;
  }
}
.btnsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .btn {
    padding: 14px 28px;
  }
  .btnWhite {
    padding: 14px 28px;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    &:hover {
      background-color: rgb(24, 24, 24);
      border: 1px solid rgb(24, 24, 24);
      color: #fff;
    }
  }
}
