@import "./../../scss/global.scss";
.wrapper {
  .header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 80px;
  }
  .total {
    margin-bottom: 3rem;
  }
  .totalPrice {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 52px 0 40px 0;
  }
}
