@import "./../../scss/global.scss";
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media-query("max", $palm-start) {
  }
  @include media-query("lap") {
  }
  .imgPreviewWrapper {
    display: flex;
    flex-direction: column;
    width: 150px;

    .imgPreview {
      margin-bottom: 1rem;
    }
  }
  .mainImgWrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mainImg {
      width: 95%;
      height: 70vh;
    }
  }
  .descrWrapper {
    width: 40%;
    .brand {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .name {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 43px;
    }
    .attrName {
      font-size: 18px;
      font-weight: 700;
      font-family: $roboto;
      text-transform: uppercase;
    }
  }
  .active {
    background-color: $color-body;
    color: #ffffff;
  }
  .activeSwatch {
    height: 23px;
    width: 23px;
    box-shadow: 2px 2px 2px $color-body;
  }
  .attrValuesWrapper {
    width: 100%;
    margin-top: 5px;
    width: 292px;

    .attrValue {
      margin-right: 4px;
      margin-bottom: 7px;
    }
  }
  .price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
  }
  .btn {
    width: 292px;
    margin: 25px 0 40px 0;
  }
  .productDescr {
    width: 292px;
  }
}
