@import "./../scss/global.scss";
.squareBtn {
  display: inline-block;
  border: 1px solid $color-body;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    background-color: $color-body;
    color: #fff;
  }
}
