@import "./../../scss/global.scss";
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.102);

  .brand {
    font-size: 16px;
    font-weight: 600;
  }
  .name {
    margin: 13px 0;
    font-size: 16px;
    font-weight: 400;
  }
  .price {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .btnsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 60%;

    .attrName {
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 4px;
    }
    .attrValue {
      margin-right: 5px;
      font-size: 12px;
      padding: 6px;
      margin-bottom: 5px;
    }
    .attrValuesWrapper {
      margin-bottom: 5px;
    }
  }

  .productCount {
    display: flex;
    height: 127px;
    width: 40%;
    justify-content: space-between;
    .count {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .img {
      width: 121px;
      height: 127px;
    }

    .adjustCountBtn {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 19px;
      font-weight: 500;
    }
  }
}
