@import "./../../../scss/global.scss";
.wrapper {
  width: 386px;
  height: 444px;
  padding: 16px;
  margin-bottom: 2rem;
  cursor: pointer;
  flex: 0 0 33.333333%;
  color: $color-body;
  // border: 1px solid red;
  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 356px;
    margin: 0 auto;
  }
  .img {
    display: block;
    height: 338px;
    width: 356px;
    margin: 0 auto;
  }

  .title {
    font-size: 18px;
    font-weight: 300;
    margin-top: 1.5rem;
  }
  .price {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.7rem;
  }
}
