@import "./../../scss/global.scss";
.wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.header {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 80px;
}
